<div class="post bg-white dark:bg-gray-800 rounded-lg shadow-lg p-6">
  <h2 class="text-2xl font-bold mb-2">{{post.title}}</h2>
  <p class="text-gray-800 dark:text-gray-300 mb-4">{{post.body}}</p>
  <div class="meta flex justify-between items-center text-gray-500 dark:text-gray-400 text-sm">
    <span>Posted by {{post.User.username}} on {{format_date post.createdAt}}</span>
    {{#if isEditable}}
    <div>
      <a href="/posts/edit/{{post.id}}" class="text-blue-500 hover:underline mr-2">Edit</a>
      <form action="/posts/delete/{{post.id}}" method="POST" class="inline-block">
        <button type="submit" class="text-red-500 hover:underline">Delete</button>
      </form>
    </div>
    {{/if}}
  </div>
</div>

{{#if comments.length}}
  <h3 class="text-xl font-bold my-4">Comments:</h3>
  {{#each comments}}
    {{> comment}}
  {{/each}}
{{else}}
  <p class="text-gray-500 dark:text-gray-400 my-4">No comments yet.</p>
{{/if}}

{{#if isAuthenticated}}
  <h3 class="text-xl font-bold my-4">Add Comment</h3>
  {{#if errorMessage}}
    <p class="error text-red-500 mb-4">{{errorMessage}}</p>
  {{/if}}
  <form action="/comments/create/{{post.id}}" method="POST">
    <div class="mb-4">
      <label for="title" class="block text-gray-700 dark:text-gray-400 font-bold mb-2">Title:</label>
      <input type="text" id="title" name="title" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline dark:bg-gray-700 dark:text-gray-300 dark:border-gray-600 dark:focus:border-blue-500 dark:focus:shadow-outline-blue" required>
    </div>
    <div class="mb-4">
      <label for="body" class="block text-gray-700 dark:text-gray-400 font-bold mb-2">Body:</label>
      <textarea id="body" name="body" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline dark:bg-gray-700 dark:text-gray-300 dark:border-gray-600 dark:focus:border-blue-500 dark:focus:shadow-outline-blue" required></textarea>
    </div>
    <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline-dark">{{title}}</button>
  </form>
{{else}}
  <p class="text-gray-500 dark:text-gray-400 my-4">You must <a href="/login" class="text-blue-500 hover:underline">log in</a> to leave a comment.</p>
{{/if}}